#arrayValue {
    height: 2vh;
    width: 3vw;
    display: inline-block;
}

#arrayForm {
    height: 2vh;
    width: 3vw;
    display: inline-block;
}

.value {
    display: inline-block;
}

#calculator {
    text-align: center;
    width: 90%;
}

#content {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

#calculateResultArea {
    margin-top: 5%;
}

.mat-raised-button {
    width: 80%;
}

.result {
    background-color: #69F0AE;
}