#arrayValue {
    height: 2vh;
    width: 3vw;
    display: inline-block;
}

#arrayForm {
    height: 2vh;
    width: 3vw;
    display: inline-block;
}

.value {
    display: inline-block;
}

#calculator {
    text-align: center;
}

#content {
    width: 80%;
    margin: 10%
}

#calculateResultArea {
    margin-top: 5%;
}