<div id="content">
    <div style="width: 50%">
        <h2>Introduce tu array</h2>
        <div id="calculator">
            [
            <div class="value" *ngFor="let value of currentArray">
                {{value}},
            </div>

            <form id="arrayForm" [formGroup]="arrayForm">
                <input id="arrayValue" type="text" formControlName="arrayValue" (input)="onInputChange($event.target.value)">
            </form>
            ]
        </div>
        <div id="calculateResultArea">
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <button mat-raised-button (click)="setExampleArray()">Array de Ejemplo</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-raised-button color="primary" (click)="calculateIndex()">Calcular indice</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-raised-button color="accent" (click)="calculateMultipleIndexes()">Calcular indices</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-raised-button color="warn" (click)="clearArray()">Resetear</button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <h3 *ngIf="hasResult()">El indice de equilibrio del array [{{ equilibriumProvider.getLastResult().arrayWas }}] es {{ equilibriumProvider.getLastResult().resultWas }}</h3>
    </div>
    <app-results-template style="width: 50%" [resultsArray]="equilibriumProvider.getStoredResults()"></app-results-template>
</div>